<ion-view title="Asesoramiento">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" class="slideHome">
            <ion-slide>
                <div class="card cardCenterText">
                    <div class="item item-text-wrap">
                        1. Hazte cargo de tus propias finanzas
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="card cardCenterText">
                    <div class="item item-text-wrap">
                        2. Lleva un registro de tus gastos y pon el ejemplo con tu buena administración
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="card cardCenterText">
                    <div class="item item-text-wrap">
                        3. Evita hacer de las tarjetas de crédito una forma de vida
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="card cardCenterText">
                    <div class="item item-text-wrap">
                        4. Compra de manera inteligente, analiza qué es lo que necesitas y evita gastos innecesarios
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="card cardCenterText">
                    <div class="item item-text-wrap">
                        5. Haz conciencia que el tiempo pasa, vas envejeciendo y tendrásmás gastos en salud
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="card cardCenterText">
                    <div class="item item-text-wrap">
                        6. Busca ahorrar, por lo menos, 10% de tu salario. Ten el control de tu futuro
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="card cardCenterText">
                    <div class="item item-text-wrap">
                        7. Evita conducir un auto sin seguro, finalmente puedes tener más gastos que una póliza
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="card cardCenterText">
                    <div class="item item-text-wrap">
                        8. Evita casarte por bienes mancomunados
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="card cardCenterText">
                    <div class="item item-text-wrap">
                        9. Educa a tus niños en el control de sus finanzas, aunque sus gastos sean poco
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="card cardCenterText">
                    <div class="item item-text-wrap">
                        10. Los vicios son una pérdida de dinero, no pierdas el control ¡evítalos!
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>

