<ion-view title="Home">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide>
                <div id="chartsDiv">
                    <canvas id="presupuestoChart" class="chart"></canvas>  
                    <canvas id="presupuestoChartBarras" class="chart"></canvas>  
                </div>
                
                <div  id="prespuestoCard" class="hide">
                    <div class="card cardCenterText">
                        <div class="item item-text-wrap">
                            <i class="icon ion-settings big-icon"></i>
                            <br/>
                            Tu Presupuesto no está listo... Crea Categorias e ingresa montos!!!
                        </div>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div><h1>{{userData}}</h1></div>
            </ion-slide>
            <ion-slide>
                <div><h1>PINK</h1></div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>    
</ion-view>
