<ion-side-menus>
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-positive nav-title-slide-ios7">
            <ion-nav-buttons side="right">        
                <a ng-show="showProfileButton()" menu-close class="button icon ion-ios7-person" href="#/app/profile"></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>
    <ion-side-menu side="left">
        <header class="bar bar-header bar-positive">
            <a class="button icon ion-gear-a" menu-close href="#/app/settings"></a>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/home">
                    <i class="icon ion-home"></i>&nbsp;Home
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/presupuestos">
                    <i class="icon ion-cash"></i>&nbsp;Presupuesto
                </ion-item>                
                <ion-item nav-clear menu-close href="#/app/cuentas">
                    <i class="icon ion-card"></i>&nbsp;Cuentas
                </ion-item>
                <ion-item nav-clear menu-close  href="#/app/prestamos">
                    <i class="icon ion-ios7-calculator"></i>&nbsp;Prestamos
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/asesoramiento">
                    <i class="icon ion-chatbubble-working"></i>&nbsp;Asesoramiento
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/">
                    Log out&nbsp;&nbsp;&nbsp;<i class="icon ion-log-out"></i>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
