<ion-view title="{{presupuesto.nombre}}">

    <ion-nav-buttons side="left">        
        <button class="button button-icon icon ion-arrow-left-c" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="card">
            <div class="item item-text-wrap">
                {{presupuesto.proposito}}
                <br/>
                Ingreso: {{presupuesto.ingreso}}
            </div>
        </div>
        <div ng-attr-id="{{ 'chartsDiv_' + presupuesto.presupuestoId}}">
            <div class="list">
                <div class="item item-divider cardCenterText">
                    <i class="icon ion-ios7-circle-filled"></i>
                </div>
                <div class="item cardCenterText">
                    <canvas ng-attr-id="{{ 'presupuestoChart_' + presupuesto.presupuestoId}}"  class="char"></canvas>  
                </div>
                <div class="item item-divider cardCenterText">
                    <i class="icon ion-stats-bars"></i>
                </div>
                <div class="item cardCenterText" >
                    <canvas ng-attr-id="{{ 'presupuestoChartBarras_' + presupuesto.presupuestoId}}"  class="chart"></canvas>  
                </div>
            </div>  
        </div> 
        <div  ng-attr-id="{{'prespuestoCard_' + presupuesto.presupuestoId}}" class="hide">
            <div class="card cardCenterText">
                <div class="item item-text-wrap">
                    <i class="icon ion-settings big-icon"></i>
                    <br/>
                    Tu Presupuesto no está listo... Crea Categorias e ingresa montos!!!
                </div>
            </div>
        </div>
        <div>
            <h2>Categorias</h2>
            <div id="categorias" class="list">
                <a  class="item item-button-right" 
                    ng-repeat="categoria in presupuesto.categorias"
                    href="#/app/presupuestos/{{presupuesto.presupuestoId}}/categorias/{{categoria.categoriaId}}">
                    {{categoria.nombre}}
                    <button class="button button-assertive small-button small-icon ion-ios7-trash" ng-click="deleteCategoria($event, '{{categoria.nombre}}', {{categoria.categoriaId}} )">
                    </button>
                </a>
            </div>
            <div  id="noCategoriasCard" class="hide">
                <div class="card cardCenterText">
                    <div class="item item-text-wrap">
                        Aún no hay categorias... Agrega una! :)
                    </div>
                </div>
            </div>
            <button class="button button-block button-positive icon ion-android-add" ng-click="openModal()">
            </button>
        </div>
    </ion-content>
</ion-view>
